* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

#animation-div {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.leaf {
    top: -4vh;
    position: absolute;
    height: 3vh;
}